
button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
}

button > img {
    float: left;
    margin-right: 0.5em;
    max-width: 100px;
    max-height: 100px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.orientationsContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}
.smallpp {
    font-size: 12pt;
}


.myinfo {
    background-color: rgb(214, 229, 255);
    padding-top: 10pt;
    padding-left: 15pt;
    padding-right: 15pt;
    padding-bottom: 10pt;
    margin-top: 15pt;
    margin-bottom: 20pt;
    border-radius: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
}


.warning {
    background-color: rgb(255, 248, 248);
    color: rgb(154, 40, 40);
    border: 1px solid rgb(217, 119, 119);
    margin-top: 10pt;
    padding-top: 8pt;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-bottom: 10pt;
    border-radius: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

.storytime {
    max-width: 800px;
    font-size: 1.7rem;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid rgb(85, 85, 85);
    padding-top: 10pt;
    padding-left: 15pt;
    padding-right: 15pt;
    padding-bottom: 20pt;
    margin-top: 15pt;
    margin-bottom: 20pt;
    border-radius: 25px;
    color: #3a2618;
}
