
body, html {
    background-color: rgb(132, 132, 132);
    margin: 0px;
    padding: 0px;
    overflow: hidden; /* Hides scrollbars */
}

html {
    background-color: white;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Places canvas behind all other elements */

    background-color: black;

    /* Scales canvas to fit screen */
    width: 100vw;
    height: 100vh;
}